<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc 1 ne</title>
</head>
<body>
    <h1 style="text-align: center; color:red">From homepage.js</h1>
    <p>
        <%= data %>
    </p>
</body>
</html>